{# /src/Tixi/App/MysqlDumpBundle #}
{# 15.11.2013 martin jonasse initial file #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block taskbar %}
    <div class="taskbar">
        <div class="taskbar-row">
            <div class="taskbar-right">
                <input id="fpm_add" type="button" value="Backup erstellen"
                       onclick="location.href='{{ path( app.request.attributes.get('_route'), {'action':'backup'} ) }}'; overlay();"/>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <table class="ExcelTable2003" summary="Auswahlliste">
            <thead>
                <th>DATEINAME</th>
                <th>BYTES</th>
            </thead>
            <tbody>
            {% for myrow in myfiles %}
                <tr>
                    {% for mycell in myrow %}
                        <td>{{ mycell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}

