# Symfony
web/bundles/
app/bootstrap*
app/cache/*
app/logs/*
vendor/

# PHPDocs
docs/*

# Single config files
app/config/parameters.yml
build/mysql_connection.php
composer.lock

# Temp files
*.php~

# IDE files
.idea/
