{# src/Tixi/Pub/CustomerBundle/Tesources/views/Default/index.html.twig#}
{# 25.08.2018 martin jonasse initial page #}
{# 26.08.2013 martin jonasse upgraded zoom=11, center = Oberwil, and test customer #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}iTixi cloud computing - customer{% endblock %}

{% block menubar %}{%  endblock %}

{% block subject %}{% endblock %}

{% block taskbar %}{% endblock %}

{% block content %}
{# @todo: make the /customer page sensitive to multiple customerd and add "todays routes" #}
<div class="frame">
    <div class="frame-table">
        {% if customer == 'tixizug.ch' %}
            <div class="frame-row">
                <div class="frame-logo">
                {# credits: https://developers.google.com/maps/documentation/staticmaps/?hl=de#quick_example #}
                {# note: the static map is rendered on the client, not on the server                         #}
                    <br>
                    <img border="0"
                        src="//maps.googleapis.com/maps/api/staticmap?center=Oberwil bei Zug,Schweiz
                        &zoom=11&size=640x500&maptype=roadmap
                        &markers=color:red%7Clabel:Z%7C47.1773533, 8.5043738
                        &sensor=false"
                        alt="Einzugsgebiet TIXI ZUG"  />
                    <p>
                        Nutzungsbegrenzung: 25'000 Google Static Map Abfragen pro Tag <br>(darüber erhalten Sie
                        eine HTTP 403 Fehlermeldung)
                    </p>
                </div>
                <div class="frame-left">
                    &nbsp;
                </div>
                <div class="frame-left">
                    <p> TIXI ZUG<br>General Guisanstr. 22<br>6300 Zug<br>041 711 84 84<br>
                        <a href="http://www.zg.ch/behoerden/weitere-organisationen/tixizug">homepage</a>
                    </p>
                </div>
            </div>
        {% elseif (customer == 'test') or (customer == 'btb.ch') or (customer == '')%}
            <div class="frame-row">
                <div class="frame-logo">
                    {# credits: https://developers.google.com/maps/documentation/staticmaps/?hl=de#quick_example #}
                    {# note: the static map is rendered on the client, not on the server                         #}
                    <br>
                    <img border="0"
                         src="//maps.googleapis.com/maps/api/staticmap?center=Basel,Schweiz
                        &zoom=13&size=640x500&maptype=roadmap
                        &markers=color:red%7Clabel:Z%7C47.1773533, 8.5043738
                        &sensor=false"
                         alt="Test Umgebung iTixi"  />
                    <p>
                        Nutzungsbegrenzung: 25'000 Google Static Map Abfragen pro Tag <br>(darüber erhalten Sie
                        eine HTTP 403 Fehlermeldung)
                    </p>
                </div>
                <div class="frame-left">
                    &nbsp;
                </div>
                <div class="frame-left">
                    <p>
                        Test Umgebung für das iTixi Projekt.<br>
                        Mandant ist "btb.ch" Behinderten Transport Basel.<br>
                        Bemerkung: Domäne und Mandant sind beide fiktiv.
                    </p>
                </div>
            </div>
        {% else %}
            <p>
                Mandant "{{ customer }}" ist nicht bekannt.
                Eröffnen Sie bitte ein
                <a href="http://sourceforge.net/p/itixi/tickets/?source=navbar">SourceForge iTixi Ticket</a>.
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}
