{# src\Tixi\Pub\HelpBundle\Resources\views\Default\index.html.twig #}
{# 23.08.2013 martin jonasse initial file #}
{# 03.09.2013 martin jonasse update for session variables #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}{{ app.session.get('title') }}{% endblock %}

{% block menubar %}{%  endblock %}

{% block subject %}{% endblock %}

{% block taskbar %}{% endblock %}

{% block content %}
<div>
    <h3>Voraussetzungen</h3>
    <p>Die iTixi Applikation ist speziell für den <b>FireFox</b> Browser entwickelt und geprüft.
       Holen Sie sich die neueste Open Source FireFox Version in <a href="https://www.mozilla.org/de/firefox/fx/">link</a>.<br>
       Mindestvoraussetzung: FireFox Version 23.0.1, der "Adobe PDF Plugin for FireFox and Netscape" und der
       "Java Deployment Toolkit" (Version Java 7 und höher).
       <br><br>
       Holen Sie sich die neueste Apple <b>Safari Browser</b> Version (Windows) in
       <a href="http://support.apple.com/kb/dl1531">link</a>.
       Safari ist bereits ein integraler Bestandteil von Apple Mac OSX Software.<br>
       Mindestvoraussetzung: Safari Version 5.1.7, der "Adobe PDF Plugin for FireFox and Netscape" und
       "Apple Java Plug-In".
       <br><br>

       Microsoft Internet Explorer wird nicht besonders unterstützt, da Microsoft sich schlecht an W3C Normen hält.
       Dadurch kann es zu Darstellungsprobleme auf verschiedene Webseiten kommen. Solche Probleme können nur durch
       Microsoft behoben werden (<a href="http://support.microsoft.com/?ln=de">Support Link</a>). Klicken Sie auf das
       Internet Explorer Symbol und folgen Sie die Anweisungen von Microsoft.
       Holen Sie sich die neueste <b>Internet Explorer Browser</b> Version für Windows in
       <a href="http://www.microsoft.com/de-ch/download/ie.aspx?q=internet+explorer">link</a>.
    </p>

    <h3>Benutzer Dokumentationen</h3>
    <p>Die iTixi Applikation ist mittels folgenden PDF Dateien dokumentiert:</p>
    <ul>
        <li><a href="{{ asset('doc/sfitixi_help.pdf') }}">Bedienungsanleitung, Einführung</a></li>
        <li>Bedienungsanleitung für Disposition</li>
        <li>Bedienungsanleitung für Bereitstellen</li>
        <li>Bedienungsanleitung für Fahrgast</li>
        <li>Bedienungsanleitung für OVI</li>
        <li><a href="{{ asset('doc/sfitixi_fahrer.pdf') }}">Bedienungsanleitung für Fahrer</a></li>
        <li>Bedienungsanleitung für Fahrzeug</li>
        <li>Bedienungsanleitung für Unterhalt</li>
    </ul>
</div>
{% endblock %}
