{# src\Tixi\Pub\HelpBundle\Resources\views\Default\index.html.twig #}
{# 23.08.2013 martin jonasse initial file #}
{# 03.09.2013 martin jonasse update for session variables #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}{{ app.session.get('title') }}{% endblock %}

{% block menubar %}{%  endblock %}

{% block subject %}{% endblock %}

{% block taskbar %}{% endblock %}

{% block content %}
<div>
    <p>Die iTixi Applikation ist mittels PDF Dateien dokumentiert:</p>
    <ul>
        <li><a href="{{ asset('doc/sfitixi_help.pdf') }}">Bedienungsanleitung, Einf&uuml;hrung</a></li>
        <li>Bedienungsanleitung für Disposition</li>
        <li>Bedienungsanleitung für Fahrgast</li>
        <li>Bedienungsanleitung für OVI</li>
        <li>Bedienungsanleitung für Fahrer</li>
        <li>Bedienungsanleitung für Fahrzeug</li>
        <li>Bedienungsanleitung für Export</li>
        <li>Bedienungsanleitung für Unterhalt</li>
    </ul>
</div>
{% endblock %}
