{# src\Tixi\Pub\LogoutBundle\Resources\views\Default\index.html.twig #}
{# 23.08.2013 martin jonasse initial file #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}iTixi cloud computing - logout{% endblock %}

{% block menubar %}{%  endblock %}

{% block subject %}{% endblock %}

{% block taskbar %}{% endblock %}

{% block content %}
<div>
    <h3>Vielen Dank für Ihren Besuch.</h3>
    <p>
        Sie haben sich erfolgreich abgemeldet. Sie können sich jederzeit wieder über den Hyperlink (oben rechts)
        wieder anmelden.
    </p>
    <p>
        Falls Sie Probleme bei der Anmeldung haben, so wenden Sie sich bitte an der Geschäftsleiter(in) in
        Ihren Tixi Betrieb. Er/ sie ist für die Vergabe von Benutzernamen und Passwörter verantwortlich.
    </p>
    <p>
        Die Anmeldedaten sind persönlich und dürfen Dritten (Kollegen, Familie, Aussenstehenden) NICHT
        BEKANNTGEGEBEN WERDEN. Jeder Benutzer haftet für eventuellen Missbrauch von Anmeldedaten.
        Alle personenbezogene Daten in der iTixi Applikation müssen als vertraulich behandelt werden
        (Bundesgesetz über den Datenschutz (DSG)).
    </p>
</div>
{% endblock %}

