{% extends '::base.html.twig' %}
{% set topNavigationActivePage = 'tixiapi_vehicles_get' %}
{% set breadcrumb = ['Fahrzeuge','Neues Fahrzeug'] %}
{% block body %}
    <div class="row">
    {{ form_start(form, {'attr':{'class':'form-horizontal col-md-6'}}) }}
    {{ form_end(form) }}
    </div>
{%  endblock %}

