<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <!--google maps stuff -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script type="text/javascript" src="/sfitixi/web/js/tixi-geocoding.js"></script>

        <!--jquery datapicker and timepicker stuff -->
        <link rel="stylesheet" href="/sfitixi/web/css/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="/sfitixi/web/css/datetimepicker.css">

        <script type="text/javascript" src="/sfitixi/web/js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="/sfitixi/web/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/sfitixi/web/js/jquery.ui.datepicker-de.js"></script>
        <script type="text/javascript" src="/sfitixi/web/js/jquery-ui-timepicker-addon.js"></script>
        <script type="text/javascript" src="/sfitixi/web/js/tixi-pickers.js"></script>
        <script type="text/javascript" src="/sfitixi/web/js/tixi-functions.js"></script>

        <!--favicon stuff -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
