{% set topNavigationBar = [['tixiapi_home', 'Home'], ['tixiapi_vehicle_new', 'Disposition'], ['tixiapi_vehicle_new', 'Bereitstellen'],
['get_passengers', 'Fahrgast'], ['tixiapi_vehicle_new', 'OVI'], ['tixiapi_drivers_get', 'Fahrer'],
['tixiapi_vehicles_get', 'Fahrzeug']] %}
{% set topNavigationActivePage = topNavigationActivePage|default('ajd') %}
<ul class="nav nav-justified">
    {% for item in topNavigationBar %}
        <li{% if item[0] == topNavigationActivePage %} class="active"{% endif %}>
            <a href="{{ path(item[0]) }}">{{ item[1] }}</a></li>
    {% endfor %}
</ul>
