{% set topNavigationBar = [['new_vehicle', 'Home'], ['new_vehicle', 'Disposition'], ['new_vehicle', 'Bereitstellen'],
['new_vehicle', 'Fahrgast'], ['new_vehicle', 'OVI'], ['new_vehicle', 'Fahrer'],
['get_vehicles', 'Fahrzeug']] %}
{% set topNavigationActivePage = topNavigationActivePage|default('ajd') %}
<ul class="nav nav-justified">
    {% for item in topNavigationBar %}
        <li{% if item[0] == topNavigationActivePage %} class="active"{% endif %}>
            <a href="{{ path(item[0]) }}">{{ item[1] }}</a></li>
    {% endfor %}
</ul>
