{% set topNavigationBar =
[['tixiapi_home', 'home.panel.name'],
['tixiapi_home_dummy', 'disposition.panel.name'],
['tixiapi_home_dummy', 'prepare.panel.name'],
['tixiapi_passengers_get', 'passenger.panel.name'],
['tixiapi_pois_get', 'poi.panel.name'],
['tixiapi_drivers_get', 'driver.panel.name'],
['tixiapi_vehicles_get', 'vehicle.panel.name']] %}
{% set topNavigationActivePage = topNavigationActivePage|default('tixiapi_home') %}
<ul class="nav nav-justified">
    {% for item in topNavigationBar %}
        <li{% if item[0] == topNavigationActivePage %} class="active"{% endif %}>
            <a href="{{ path(item[0]) }}">{{ item[1]|trans }}</a></li>
    {% endfor %}
</ul>
