{% extends '::base.html.twig' %}
{% set topNavigationActivePage = 'tixiapi_home' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="col-md-6">
                <h2 class="text-muted">{% trans %}home.tile.name{% endtrans %}</h2>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="container">
            <div class="panel-body">
                <div class="row">

                    <div class="container">
                        <div class="col-lg-6">
                            <p><b>Deutsch</b></p>

                            <p>iTixi Dispo-Software für TIXI Organisationen in der Schweiz.<br>
                                Copyright (C) <var>2013</var> <var>Martin Jonasse (TIXIZUG)</var>.</p>

                            <p>Dieses Programm ist Open-Source und frei verfügbar.
                                Sie können es unter den Bedingungen der GNU
                                General Public License, wie von der Free Software Foundation veröffentlicht,
                                weitergeben und/oder modifizieren, gemäss Version 2 der GNU GPL.</p>

                            <p>Die Veröffentlichung dieses Programms erfolgt in der Hoffnung, dass es Ihnen von
                                Nutzen sein wird, aber OHNE IRGENDEINE GARANTIE, sogar ohne die implizite Garantie
                                der MARKTREIFE oder der VERWENDBARKEIT FÜR EINEN BESTIMMTEN ZWECK.
                                Details finden Sie in der GNU General Public License.</p>

                            <p>Sie haben ein Exemplar der GNU General Public License zusammen mit diesem Programm
                                erhalten.</p>
                        </div>
                        <div class="col-lg-6">
                            <p><b>English</b></p>

                            <p>iTixi planning software for TIXI (handicap) organisations in Switzerland.<br>
                                Copyright (C) <var>2013</var> <var>Martin Jonasse (TIXIZUG)</var>.</p>

                            <p>This program is open-source and free available. You can redistribute it and/or
                                modify it under the terms of the GNU General Public License,
                                as published by the Free Software Foundation, according to version 2
                                of the License.</p>

                            <p>This program is distributed in the hope that it will be useful,
                                but WITHOUT ANY WARRANTY, without even the implied warranty of
                                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
                                GNU General Public License for more details.</p>

                            <p>You have received a copy of the GNU General Public License
                                along with this program.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}