{% extends '::base.html.twig' %}
{% set topNavigationActivePage = 'tixiapi_home' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="col-md-6">
                <h2 class="text-muted">{% trans %}help.tile.name{% endtrans %}</h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="container">

            <div>
                <h3>Voraussetzungen</h3>

                <p>Die iTixi Applikation wurde für <b>Mozilla Firefox</b> entwickelt und geprüft.
                    Sie erhalten die neueste Version vom Mozilla Firefox
                    <a href="https://www.mozilla.org/de/firefox/fx/">hier</a>.<br>
                </p>

                <p>Weitere Browser wie <b>Googles Chrome</b> können für die Verwendung der iTixi Applikation empfohlen
                    werden.
                    Sie erhalten die neueste Version vom Google Chrome
                    <a href="https://www.google.com/intl/en/chrome/browser/">hier</a>.<br>
                </p>

                <h3>Benutzer Dokumentationen</h3>

                <p>Die iTixi Applikation ist mittels folgenden PDF Dateien dokumentiert:</p>
                <ul>
                    <li><a href="{{ asset('doc/sfitixi_help.pdf') }}">Bedienungsanleitung, Einführung</a></li>
                    <li>Bedienungsanleitung für Disposition</li>
                    <li>Bedienungsanleitung für Bereitstellen</li>
                    <li>Bedienungsanleitung für Fahrgast</li>
                    <li>Bedienungsanleitung für OVI</li>
                    <li><a href="{{ asset('doc/sfitixi_fahrer.pdf') }}">Bedienungsanleitung für Fahrer</a></li>
                    <li>Bedienungsanleitung für Fahrzeug</li>
                    <li>Bedienungsanleitung für Unterhalt</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}