{# src/Tixi/App/ZoneplanBundle/Resources/views/Default/index.html.twig #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block content %}
    <div>
        The default holiday page content goes here!
    </div>
{% endblock %}
