{# src/Tixi/App/DriverRecurringTaskBundle/Resources/views/Default/index.html.twig #}
{# 22.01.2014 martin jonasse initial file #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block content %}
    <div>
        This is the default driver recurring task page!
    </div>
{% endblock %}


