<tbody data-totalamountofrows="{{ gridState.getTotalAmountOfRows() }}">
{% for row in gridState.getRows() %}
    <tr data-rowid="{{ gridState.getGridIdentifier() ~ '_' ~ row.rowId }}">
        {% for fieldValue in row.fieldValues %}
            <td>{{ fieldValue }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</tbody>