{% set embedded = embedded|default(false) %}
<button type="button"
        class="customLink deleteButton btn btn-danger {% if embedded %}btn-sm{% endif %}"
        data-targetSrc="{{ targetSrc }}" data-deleteConfirmText="{{ deleteConfirmText|trans }}">{{ displayText|trans }}

</button>