<div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">{{ headerDisplayText }}</h3></div>
    <div class="panel-body">
        {% for element in children.elements %}
            <div class="row">
                {{ element | raw }}
            </div>
        {% endfor %}
    </div>
</div>





