{% set embedded = embedded|default(false) %}
<button type="button"
        class="customLink linkButton btn {% if type == 'primary' %}btn-primary{% else %}btn-default{% endif %} {% if embedded %}btn-sm{% endif %}"
        data-targetSrc="{{ tagetSrc }}">{{ displayText|trans }}
</button>