<nav class="nav nav-justified" role="navigation">
    {% for resolvedElement in children %}
        {% if 'menuitem' in resolvedElement.viewIndentifiers %}
            {{ resolvedElement.rawData | raw }}
        {% endif %}
    {% endfor %}
</nav>