{% extends '::base.html.twig' %}
{% set topNavigationActivePage = menuId %}
{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-md-6"><h2 class="text-muted">{{ headerDisplayText|trans }} {{ headerDisplaySubtitleText|trans }} </h2></div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            {% for resolvedElement in children %}
                {% if 'panelfooter' not in resolvedElement.viewIndentifiers %}
                    {{ resolvedElement.rawData | raw }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% for resolvedElement in children %}
        {% if 'panelfooter' in resolvedElement.viewIndentifiers %}
            <div class="panel-footer">
                {{ resolvedElement.rawData | raw }}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}