{% set embedded = embedded|default(false) %}
<div class="btn-group">
    <button type="button"
            class="btn btn-default dropdown-toggle selectionButton {% if embedded %}btn-sm{% endif %}"
            data-toggle="dropdown">
        {{ displayName }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu selectedAction" role="menu">
        {% for resolvedElement in children %}
            {{ resolvedElement.rawData | raw }}
        {% endfor %}
    </ul>
</div>