{% set resolvedLater = resolvedLater | default(false) %}
<li>
    <a id="{{ 'fpx_' ~ menuId ~ '_' ~ selectionButtonId ~ '_' ~ buttonId}}"
       data-targetSrc="{{ targetSrc }}"
       data-deleteconfirmtext="{{ 'delete.logically.standardtext'|trans }}"
       class="customLink textLink textLinkDelete {% if resolvedLater %}linkWithDelegatedResolve{% endif %}"
       href="#">{{ displayName|trans }}</a>
</li>