{% set resolvedLater = resolvedLater | default(false) %}
<li>
    <a data-targetSrc="{{ targetSrc }}" class="customLink textLink {% if resolvedLater %}linkWithDelegatedResolve{% endif %}" href="#">{{ displayName|trans }}</a>
</li>