{# src/Tixi/App/VehicleDetailsBundle/Resources/views/Default/index.html.twig #}
{# 09.11.2013 martin jonasse initial file #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}{{ app.session.get('title') }}{% endblock %}

{% block content %}
    <div>
        The default vehicle details page content goes here!
    </div>
{% endblock %}
