<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle customActionWithSelectionButton {% if embedded %}btn-sm{% endif %}" data-toggle="dropdown">
        Mit Auswahl <span class="caret"></span>
    </button>
    <ul class="dropdown-menu selectedAction" role="menu">
       {% block selectedactions %}{% endblock %}
    </ul>
</div>