<div class="row">
    <div class="topControlWrapper">
        <div class="col-lg-4 filterControl">
            <div class="input-group">
                <input type="text" class="form-control gridFilterInput">
            <span class="input-group-btn">
                 <button class="btn btn-default gridFilterCommit" type="button">Suchen</button>
             </span>
            </div>
            <!-- /input-group -->
            {#<input type="search" class="gridFilterInput">#}
            {#<input type="button" class="gridFilterCommit" value="Suchen">#}
        </div>
        <div class="col-lg-4 col-lg-offset-4 text-right actionControl">{% block customListActionControl %}{% endblock %}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 tableWrapper">
        <table data-srcUrl="{{ dataSrcUrl|default('') }}" class="table table-hover">
            <thead>
            <tr>
                {% for header in tableHeaders %}
                    <th>
                        <div class="header"
                             data-fieldId="{{ header.getFieldPropertyName() }}">{{ header.getHeaderName() }}</div>
                    </th>
                {% endfor %}
            </tr>
            </thead>
            {% include 'TixiApiBundle:Shared:datagrid.tablebody.html.twig' %}
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 bottomControlWrapper">
        <div class="paginationControl">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default first"><<</button>
                <button type="button" class="btn btn-default previous"><</button>
                <button type="button" class="btn btn-default pageIndication"></button>
                <button type="button" class="btn btn-default next">></button>
                <button type="button" class="btn btn-default last">>></button>
            </div>
        </div>
    </div>
</div>