{# src/Tixi/App/DriverVacationBundle/Resources/views/Default/index.html.twig #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block content %}
    <div>
        This is the default driver vacation page!
    </div>
{% endblock %}