/* Address overlay*/
.googleMapCanvasWrapper {
    z-index: 3000;
    position: absolute;
    width: 600px;
    height: 500px;
    right: -660px;
    top: -120px;
    display: none;
}

.googleMapCanvas {
    z-index: 3001;
    width: 570px;
    height: 470px;
    padding: 0px;
}

.geocodeInputWrapper {
    z-index: 3002;
    position: absolute;
    top: 30px;
    left: 160px;
    width: 250px;
    display: none;
}

/* Data Grid */
.dataGrid table .selected td {
    color: #ffffff;
    background-color: #e67e22 !important;
}

.dataGrid .header {
    cursor: pointer;
    display: inline-block;
}

.dataGrid .computedHeader {
    cursor: auto !important;
    font-style: italic;
}

.dataGrid .sortIcon {
    margin-left: 5px;
}

.paginationControl {
    display: none;
}

/* AddressLookahead */
.lookaheadWrapper {
    display: none;
}

.lookaheadWrapper .editManually {
    display: none;
}

.lookaheadWrapper .userHomeLinkWrapper {
    position: absolute;
    display: none;
    padding-top: 7px;
    left: -35px;
    cursor: pointer;
}

.addressSelectionsWrapper {
    display: none;
}

.addressContainerWrapper {
    display: none;
}

.lookaheadSelection {
    cursor: pointer;
}

.lookaheadSelection:hover {
    color: #428bca;
}

/* Driving Order */
.routingInformationWrapper {
    height: 60px;
    padding-top: 20px;
    font-weight: bold;
}

.repeatedEndDateWrapper {
    display: none;
}

.repeatedTimeWrapper {
    display: none;
}

.repeatedTimeWrapper .repeatedTimeWidget {
    font-weight: normal;
}

/* Top Action */
.upperRightMargin {
    margin-top: 15px;
}

.btn-group-main {
    bottom: 15px;
    position: relative;
    top: 15px;
}

/* Login Form */
.login section {
    border: 1px solid #bababa;
    width: 320px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
}

.login p {
    margin-left: 10px;
    margin-right: 10px;
}

.login form p label {
    width: 80%;
    float: left;
    margin-top: 10px;
}

.login form p input {
    width: 100%;
}

.login form p small {
    color: #888888;
}

.formcontrol {
    margin-bottom: 30px;
}

.formViewBasic {
    padding-bottom: 30px;
}

.formViewExpanded {
    display: none;
    padding-bottom: 30px;
}

/*##### Driving Assertions #####*/
.monthlyPart {
    display: none;
}

.monthlyPart .required::after {
    content: '';
}

.weeklyPart, .monthlyPart {
    border-top: 1px solid #cccccc;
    padding-top: 16px;
}

.weeklyShiftSelections .form-group {
    margin: 0 !important;
    padding: 0 !important;
}

/*##### Global #####*/

.invalid input:invalid {
    background-color: rgba(235, 154, 146, 0.47) !important;
}

.invalid input:required:valid {
    background-color: rgba(46, 204, 113, 0.47) !important;
}

.textLinkDelete {
    color: #d9534f !important;
}

form .required::after {
    content: ' *';
}

.error_message {
    color: #d9534f;
}

.offset-r {
    padding-right: 0;
}

.offset-l {
    padding-left: 0;
}