/*disable bootstrap responsiveness*/
.container{
    max-width: none !important;
    width: 1024px;
}

/*##### Data Grid #####*/
.dataGrid table .selected td {
    color: #ffffff;
    background-color: #e67e22!important;
}

/* Buttons Main upper right corner */
.btn-group-main{
    bottom: 15px;
    position: relative;
    top: 15px;
}

/*##### Login Form #####*/
.login {
    font: 14px Helvetica, Arial, Sans-Serif;
}

.login section {
    border: 1px solid #bababa;
    width: 300px;
    border-radius: 3px;
    margin: auto;
    margin-top: 50px;
}

.login p {
    margin-left: 10px;
    margin-right: 10px;
}

.login form p label {
    width: 240px;
    float: left;
    margin-top: 2px;
}

.login form p input {
    width: 270px;
}

.login form p small {
    color: #888888;
}
