/* table_style.css
 * credits: Yoav Ezer, How to Get a Microsoft Excel Look With HTML/CSS Tables
 * autor: martin jonasse 02.10.2013 version 1
 *
 * usage: <table class="ExcelTable2003" summary="explained">
 *          <td class="heading">
 *          <td class="selected">
 * 
 *        ... </table>
 */

.ExcelTable2003 {
	border: 1px solid #404040;
	border-width: 1px 0px 0px 1px;
	font-size: 13px;
	font-family: Helvetica, Arial, Sans-Serif;
	border-spacing: 0px;
	border-collapse: collapse;
    width: 100%;
}

.ExcelTable2003 th {
	background-color: #D4D0C8;
	border: 1px solid #808080;
	border-width: 0px 1px 1px 0px;
	font-weight: normal;
    padding: 10px;
    text-align: left;
}

.ExcelTable2003 th.heading {
	background-color: #D4D0C8;
	border: 1px solid #808080;
	border-width: 0px 1px 1px 0px;
	font-weight: normal;
    padding: 10px;
    text-align: center;
}

.ExcelTable2003 td {
	border: 0px;
	background-color: white;
    padding: 10px;
    text-align: left;
	border: 1px solid #C0C0C0;
	border-width: 0px 1px 1px 0px;
}

.ExcelTable2003 td.heading {
	background-color: #D4D0C8;
	border: 1px solid #808080;
	border-width: 0px 1px 1px 0px;
	text-align: center;
	padding: 0px 0px 0px 0px;
}

.ExcelTable2003 td.selected {
	background-color: orange;
	border: 1px solid #808080;
	border-width: 0px 1px 1px 0px;
	text-align: center;
	padding: 0px 0px 0px 0px;
}

.ExcelTable2003 tbody tr:hover {
    color: orange;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}