{% extends '::base.html.twig' %}
{% block body %}
    <div class="login">
        <section>
            <div class="panel-heading">
                <h2 class="text-muted" style="text-align:center">{% trans %} login.panel.name {% endtrans %}</h2>
            </div>
            <form name="loginForm" action="{{ path('tixi_login_check') }}"
                  method="post" enctype="application/x-www-form-urlencoded">
                <p>
                    <label for="fpw_username">{% trans %} login.form.username {% endtrans %}</label>
                    <input type="text" id="fpw_login_username" name="_username" value="{{ last_username }}"
                           autocomplete="on" required autofocus/>
                </p>

                <p>
                    <label for="fpw_password">{% trans %} login.form.password {% endtrans %}</label>
                    <input type="password" id="fpw_login_password" name="_password"
                           required/>
                </p>

                <p>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </p>

                <p>
                    <button type="submit" id="fpx_login_login" class="btn btn-primary">
                        {% trans %} login.button.login {% endtrans %}
                    </button>
                    <span id="capslock" style="visibility:hidden; color:red;">
                        {% trans %} login.form.capslock {% endtrans %} <img src="{{ asset('images/warning.png') }}"/>
                    </span>
                </p>
                <p>
                    <small>
                        {% trans %} login.text.info {% endtrans %}
                    </small>
                </p>
            </form>
        </section>
    </div>

    <script language="JavaScript">
        $('#fpw_login_password').keypress(function (e) {
            var s = String.fromCharCode(e.which);
            if (s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey) {
                document.getElementById('capslock').style.visibility = 'visible';
            } else {
                document.getElementById('capslock').style.visibility = 'hidden';
            }
        });
    </script>
{% endblock %}