{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form name="loginForm" action="{{ path('tixi_login_check') }}"
      method="post" enctype="application/x-www-form-urlencoded">

    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <input type="submit" name="login" />

</form>