{# src/Tixi/App/OviDetailsBundle/Resources/views/Default/index.html.twig #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}iTixi cloud computing - OVI - Details{% endblock %}

{% block content %}
    <div>
        This is the default OVI details page!
    </div>
{% endblock %}
