{% extends '::base.html.twig' %}
{% set topNavigationActivePage = 'get_passengers' %}
{% block body %}
    <div class="entityDetailView">
        <div class="leftColumn">
            <table>
                <tr>
                    <td>Anrede:</td>
                    <td>{{ passenger.title }}</td>
                </tr>
                <tr>
                    <td>Vorname:</td>
                    <td>{{ passenger.firstname }}</td>
                </tr>
                <tr>
                    <td>Nachname:</td>
                    <td>{{ passenger.lastname }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}