{# src/Tixi/App/DriverDataBundle/Resources/views/Default/index.html.twig #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block content %}
    <div>
        This is the default driver data page!
    </div>
{% endblock %}
