{# src/Tixi/App/TeamBundle/Resources/views/Default/index.html.twig  #}
{# 06.12.2013 martin jonasse initial file                           #}


{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}{{ app.session.get('title') }}{% endblock %}

{% block content %}
<div>
    <h1>403: Zugriff verboten!</h1>
    <p>Diese Webseite benötigt eine Berechtigung (Rolle) die Sie leider nicht haben.</p>
    <p>Rollen werden durch die Geschäftsleitung zugewiesen. Fragen Sie bitte dort nach.</p>
    <p>Das iTixi Team bittet um Verständnis.</p>
    <img src="{{ asset('images/locked403.jpg') }}" alt="Bild mit Ordner, Mappe und Schloss."/>
</div>
{% endblock %}
