{# /src/Tixi/HomeBundle/Resources/views/Default/menu.html.twig #}
{# built automatically by the iTixi application #}
<div id="menu-bar">
<ul class="nav">
<li class="dropdown"><a id="fpm_app_disposition">Disposition</a>
<ul>
<li><a id="fpm_app_disposition_produktionsplan">Produktionsplan</a></li>
<li><a id="fpm_app_disposition_monatsplan">Monatsplan</a></li>
<li><a id="fpm_app_disposition_tagesplan">Tagesplan</a></li>
<li><a id="fpm_app_disposition_fahrauftrag">Fahrauftrag</a></li>
<li><a id="fpm_app_disposition_fahrwegoptimierung">Fahrwegoptimierung</a></li>
</ul></li>
<li class="dropdown"><a id="fpm_app_bereitsellen">Bereitstellen</a>
<ul>
<li class="dropdown"><a id="fpm_app_bereitsellen_fahrauftrag">Fahrauftrag</a>
<ul>
<li><a id="fpm_app_bereitsellen_fahrauftrag_mails">Mails</a></li>
<li><a id="fpm_app_bereitsellen_fahrauftrag_drucken">Drucken</a></li>
</ul></li>
<li><a id="fpm_app_bereitsellen_einsatzplaene">Einsatzplaene</a></li>
<li><a id="fpm_app_bereitsellen_fahreinsaetze">Fahreinsaetze</a></li>
<li><a id="fpm_app_bereitsellen_monatsrechnung">Monatsrechnung</a></li>
</ul></li>
<li class="dropdown"><a href="http://localhost/sfitixi/web/app_dev.php/app/fahrgast" id="fpm_app_fahrgast">Fahrgast</a>
<ul>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/fahrgast/details" id="fpm_app_fahrgast_details">Details</a></li>
<li><a id="fpm_app_fahrgast_dauerauftrag">Dauerauftrag</a></li>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/fahrgast/abwesenheit" id="fpm_app_fahrgast_abwesenheit">Abwesenheit</a></li>
<li><a id="fpm_app_fahrgast_anrufmaske">Anrufmaske</a></li>
</ul></li>
<li class="dropdown"><a href="http://localhost/sfitixi/web/app_dev.php/app/ovi" id="fpm_app_ovi">OVI</a>
<ul>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/ovi/details" id="fpm_app_ovi_details">Details</a></li>
</ul></li>
<li class="dropdown"><a href="http://localhost/sfitixi/web/app_dev.php/app/fahrer" id="fpm_app_fahrer">Fahrer</a>
<ul>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/fahrer/details" id="fpm_app_fahrer_details">Details</a></li>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/fahrer/dauereinsatz" id="fpm_app_fahrer_dauereinsatz">Dauereinsatz</a></li>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/fahrer/ferienplan" id="fpm_app_fahrer_ferienplan">Ferienplan</a></li>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/fahrer/einsatzplan" id="fpm_app_fahrer_einsatzplan">Einsatzplan</a></li>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/fahrer/agenda" id="fpm_app_fahrer_agenda">Agenda</a></li>
<li><a id="fpm_app_fahrer_anrufmaske">Anrufmaske</a></li>
</ul></li>
<li class="dropdown"><a href="http://localhost/sfitixi/web/app_dev.php/app/fahrzeug" id="fpm_app_fahrzeug">Fahrzeug</a>
<ul>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/fahrzeug/details" id="fpm_app_fahrzeug_details">Details</a></li>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/fahrzeug/serviceplan" id="fpm_app_fahrzeug_serviceplan">Serviceplan</a></li>
</ul></li>
<li class="dropdown"><a id="fpm_app_unterhalt">Unterhalt</a>
<ul>
<li><a id="fpm_app_unterhalt_organisationsdaten">Organisationsdaten</a></li>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/unterhalt/teamdaten" id="fpm_app_unterhalt_teamdaten">Teamdaten</a></li>
<li><a id="fpm_app_unterhalt_logs">Logs</a></li>
<li class="dropdown"><a id="fpm_app_unterhalt_datenbank">Datenbank</a>
<ul>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/unterhalt/datenbank/backup" id="fpm_app_unterhalt_datenbank_backup">Backup</a></li>
<li><a id="fpm_app_unterhalt_datenbank_putzen">Aufraemen</a></li>
</ul></li>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/unterhalt/feiertage" id="fpm_app_unterhalt_feiertage">Feiertage</a></li>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/unterhalt/dienste" id="fpm_app_unterhalt_dienste">Dienste</a></li>
<li><a href="http://localhost/sfitixi/web/app_dev.php/app/unterhalt/zonenplan" id="fpm_app_unterhalt_zonenplan">Zonenplan</a></li>
</ul></li>
</ul></div>
