{# src\Tixi\HomeBundle\Resources\views\Default\splash.html.twig             #}
{# this is not very elegant, but at least everything is in one place        #}
{# 22.08.2013 martin jonasse initial file with <table>, css too complicated #}
{# 23.08.2013 martin jonasse fixed alignment and fonts (added div tag)      #}
{# 26.08.2013 martin jonasse added style="color:lightgrey"                  #}
{# 03.09.2013 martin jonasse added style="width:50%" in cells               #}

<table style="color:lightgray">
    <tr>
        <td style="width:50%">
            <p><br><b>Deutsch</b></p>
            <p>iTixi Dispo-Software für Tixi Organisationen in der Schweiz.<br>
                 Copyright (C) <var>2013</var>  <var>Martin Jonasse (TIXIZUG)</var>.</p>
            <p>Dieses Programm ist freie Software. Sie können es unter den Bedingungen der GNU
                 General Public License, wie von der Free Software Foundation veröffentlicht,
                 weitergeben und/oder modifizieren, gemäss Version 2 der Lizenz.</p>
            <p>Die Veröffentlichung dieses Programms erfolgt in der Hoffnung, dass es Ihnen von
                 Nutzen sein wird, aber OHNE IRGENDEINE GARANTIE, sogar ohne die implizite Garantie
                 der MARKTREIFE oder der VERWENDBARKEIT FÜR EINEN BESTIMMTEN ZWECK.
                 Details finden Sie in der GNU General Public License.</p>
            <p>Sie haben ein Exemplar der GNU General Public License zusammen mit diesem Programm
                 erhalten (für Details "iTixi #.#.#" anklicken).</p>
            <p>Kontakt Information, für Details "Support" anklicken.</p>
            <p>Allgemeine Information, für Details "Hilfe" anklicken.</p>
        </td>
        <td style="width:50%">
            <p><b>English</b></p>
            <p>iTixi planning software for Tixi (handicab) organisations in Switzerland.<br>
                Copyright (C) <var>2013</var>  <var>Martin Jonasse (TIXIZUG)</var>.</p>
            <p>This program is free software; you can redistribute it and/or
                modify it under the terms of the GNU General Public License
                as published by the Free Software Foundation; version 2
                of the License.</p>
            <p>This program is distributed in the hope that it will be useful,
                but WITHOUT ANY WARRANTY; without even the implied warranty of
                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                GNU General Public License for more details.</p>
            <p>You have received a copy of the GNU General Public License
                along with this program (click on "iTixi #.#.#" for details).</p>
            <p>Contact information, click on "Support" for details.</p>
            <p>General information, click on "Hilfe" for details.</p>
        </td>
    </tr>
</table>