{# src/Tixi/App/PreferencesBundle/Resources/views/Default/index.html.twig #}
{# 26.08.2013 martin jonasse initial file #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}iTixi cloud computing - preferences{% endblock %}

{% block menubar %}{%  endblock %}

{% block subject %}{% endblock %}

{% block taskbar %}{% endblock %}

{% block content %}
    <div>
        This is the user preferences page!
    </div>
{% endblock %}

