{# src/Tixi/App/PassengerAbsenceBundle/Resources/views/Default/index.html.twig #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block content %}
    <div>
        This is the default passenger absence page!
    </div>
{% endblock %}
