{# src/Tixi/App/DriverDetailsBundle/Resources/views/Default/index.html.twig #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block content %}
    <div>
        This is the default driver details page!
    </div>
{% endblock %}
