{# src/Tixi/App/TeamBundle/Resources/views/Default/index.html.twig #}
{# 28.08.2013 martin jonasse initial file #}
{# 03.09.2013 martin jonasse update for session variables #}
{# 01.10.2013 martin jonasse update for list (table) object #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}{{ app.session.get('title') }}{% endblock %}

{% block content %}
{# render a list (table) for the variable mylist (array)............ #}
{% if app.session.get('mode') == app.session.get('mode_select_list') %}
<div class="content-wrapper">
    <table class="bordered" summary="Auswahlliste">
        <tr>
        {% for mycell in myheader %}
            <th>{{ mycell }}</th>
        {% endfor %}
        </tr>
        {% for myrow in myrows %}
        <tr>
        {% for mycell in myrow %}
            <td>{{ mycell }}</td>
        {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<div class="content-wrapper">
    <p>{{ message }}</p>
</div>
{% endif %}
{% endblock %}
