{# src/Tixi/App/PreferencesBundle/Resources/views/Default/index.html.twig #}
{# 26.08.2013 martin jonasse initial file #}
{# 03.09.2013 martin jonasse update for session variables #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}{{ app.session.get('title') }}{% endblock %}

{% block content %}
    <div>
        The default team data page content goes here!
    </div>
{% endblock %}

