{# src/Tixi/App/TeamBundle/Resources/views/Default/index.html.twig #}
{# 28.08.2013 martin jonasse initial file #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}iTixi cloud computing - team{% endblock %}

{% block content %}
    <div>
        This is the default Team page!
    </div>
{% endblock %}
