{# src/Tixi/Pub/SupportBundle/Resources/views/Default/index.html.twig #}
{# 24.08.2013 martin jonasse initial file #}
{# 03.09.2013 martin jonasse update for session variables #}

{% extends 'TixiHomeBundle:Default:index.html.twig' %}

{% block title %}{{ app.session.get('title') }}{% endblock %}

{% block menubar %}{%  endblock %}

{% block subject %}{% endblock %}

{% block taskbar %}{% endblock %}

{% block content %}
<div>
    <h3>Benutzer Berechtigung</h3>
    <p>
        Benutzer der iTixi Applikation anlegen und verwalten ist die Aufgabe und Verantwortung der
        Geschäftsleitungen der Tixi Betriebe.<br>
        Falls Sie <b>Probleme bei der Anmeldung</b> haben, so wenden Sie sich bitte an den Geschäftsleiter(in)
        in Ihrem Betrieb.
    </p>
    <h3>EDV Support</h3>
    <p>
        Support für PC's, Office Software, Drucker, und lokales Netzwerk ist Sache der Tixi
        Betriebe.<br>
        Falls Sie <b>Probleme mit einen der obigen EDV Mittel</b> haben, so wenden sie sich bitte an eine
        durch den Geschäftleiter(in) in Ihrem Betrieb beauftragten Person(Firma).
    </p>
    <h3>iTixi Provider</h3>
    <p>
        Die iTixi Applikation wird gehosted durch Hofmann Informatik AG in Zug. Die Applikation ist grundsätzlich
        7 x 24 Stunden verfügbar, allerdings können kurze Unterbrüche für Wartung auftreten
        (Wartungsfenster Montag morgen). Längere Unterbrüche werden einige Tage im Voraus bekanntgegeben.
        Falls Sie die <b>iTixi Applikation nicht erreichen können</b> (Browser Fehler: <b>Server nicht gefunden</b>),
        so wenden Sie sich bitte an der HOFMANN INFORMATIK AG, Grienbachstrasse 17, 6300 Zug, Tel. 041 766 88 22,
        Fax 041 766 88 33, <a href="http://www.hofmann-informatik.ch/">Homepage</a>.<br>
        <i>Überzeugen Sie sich bitte vorher davon, dass die Internet Verbindung wirklich nicht funktioniert.<br>
        Wenn andere Webseiten AUCH NICHT erreichbar sind dann ist u.U. der EDV Support zuständig!</i>
    </p><br>
    <h3>iTixi Entwicklung</h3>
    <p>
        Die iTixi Applikation wird dauerend weiterentwickelt. Das Projekt finden sie im Internet Portal
        <a href="http://sourceforge.net/projects/itixi/">SourceForge</a> vollständig dokumentiert.<br>
        Falls Sie <b>Probleme bei iTixi Funktionen</b> (oder Verbesserungsvorschläge) haben, so öffenen
        Sie ein sogenannten "Ticket" in der folgende
        <a href="http://sourceforge.net/p/itixi/tickets/">Webseite</a>. <br>
        Falls Sie die Schaltfläche "Create Ticket" NICHT SEHEN, dann sind Sie noch nicht bei SourceForge angemeldet
        (Log In) und / oder kein SourceForge Mitglied (Join).<br>
        Melden Sie sich dort an (Join anklicken), es geht ganz einfach.
        Nur so ist ein Rückantwort (auf den Ticket) möglich.
    </p><br>
    <h3>Hinweis</h3>
    <p>
        Drucken Sie bitte diese Seite auf Papier und stecken Sie es in Ihren Notfall-Ordner.
        <i>Sobald eine EDV Störung vorliegt ist diese Seite vielleicht nicht mehr erreichbar</i>.
    </p>
</div>
{% endblock %}